&:root {
    --FirstColor: #ffffff;
    --SecondColor: #000000;
    --ThirdColor: #ffebcd;
    --ForthColor: #ff0000;
    --FifthColor: #5a585894;
    --SixthColor: #bd311574;
    --SeventhColor: #a52a2a37;
    --EighthColor: #bd3115;
}

.HeroSection {
    position: relative;
    color: var(--ThirdColor);

    &::before {
        content: '';
        position: absolute;
        background: linear-gradient(to bottom, black, transparent);
        left: 0;
        top: 0;
        /* border: 1px solid red; */
        width: 100%;
        height: 150px;
    }


    width: 100%;
    min-height: 100vh;
    background-image: url(../images/file_000000003f80820ab390f0ea058f9c71.png);
    background-size: cover;
    background-position: 0% 50%;
    z-index: 0;

    >.row1 {
        width: 100%;
        height: 130px;
        /* border: 1px solid red; */
        display: flex;

        /* justify-content: center; */
        >figure {
            position: relative;
            width: 20%;
            height: 85%;
            top: 10%;
            /* border: 1px solid yellow; */
            display: flex;
            align-items: center;

            >img {
                /* width: 30%; */
                height: 80%;
                /* border: 1px solid red; */
                position: absolute;
                z-index: 1;
                margin-left: 120px;
            }
        }

        >nav {
            position: relative;
            width: 50%;
            height: 100%;
            /* border: 1px solid red; */
            padding-left: 20px;

            >ul {
                width: 100%;
                height: 100%;
                /* border: 1px solid rgb(40, 4, 246); */
                display: flex;
                position: absolute;
                justify-content: center;
                align-items: center;
                z-index: 1;
                gap: 20px;

                >li {
                    /* width: 100%; */
                    /* height: 100%; */
                    position: relative;
                    /* border: 1px solid white; */
                    display: flex;

                    &:nth-of-type(1) {
                        >a {
                            color: var(--ForthColor);

                            &::after {
                                width: 100%;
                                left: 0;
                            }
                        }
                    }

                    >a {
                        padding: 5px;
                        /* position: absolute; */
                        color: #ffffff;
                        font-size: 20px;
                        font-family: 'Cinzel';
                        /* background-color: red; */
                        position: relative;
                        transition: 0.4s;

                        &:hover {
                            color: var(--ForthColor);

                            &::after {
                                width: 100%;
                                left: 0;
                            }
                        }

                        &::after {
                            content: '';
                            position: absolute;
                            left: 50%;
                            bottom: 0;
                            width: 0;
                            height: 2px;
                            background-color: var(--ForthColor);
                            /* border: 1px solid red; */
                            transition: 0.4s;
                        }
                    }
                }
            }
        }

        >.LogIn {
            margin-left: 100px;
            width: 10%;
            /* border: 1px solid red; */
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: 1;
            transition: 0.4s;

            >a {
                color: var(--FirstColor);
                padding: 10px;
                font-size: 20px;
                border-radius: 5px;
                background-color: var(--ForthColor);
                transition: 0.4s;

                &:hover {
                    color: var(--ForthColor);
                    background-color: var(--FirstColor);
                    margin-bottom: 10px;
                }
            }
        }

        >.SignUp {
            width: 10%;
            /* border: 1px solid red; */
            display: flex;
            justify-content: left;
            align-items: center;
            position: relative;
            z-index: 1;

            >a {
                color: var(--FirstColor);
                /* border: 1px solid red; */
                padding: 10px;
                border-radius: 5px;
                background-color: var(--ForthColor);
                font-size: 20px;
                transition: 0.4s;

                &:hover {
                    color: var(--ForthColor);
                    background-color: var(--FirstColor);
                    margin-bottom: 10px;
                }
            }
        }
    }

    >.HeroText {
        width: 50%;
        /* border: 1px solid red; */
        height: 275px;
        display: flex;
        flex-direction: column;
        padding-left: 110px;
        flex-wrap: wrap;
        margin-top: 100px;
        position: relative;

        >h1 {
            position: relative;
            color: var(--SecondColor);
            font-family: 'cinzel';
            font-weight: normal;
            font-size: 50px;
            line-height: 60px;


            >strong {
                position: relative;

                &:nth-of-type(1) {
                    color: var(--ForthColor);
                    font-weight: normal;
                    font-family: 'dancing script';
                    text-transform: uppercase;
                    position: relative;
                    z-index: 1;

                    &:hover {
                        &::after {
                            width: 100%;
                            left: 0;
                        }
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        width: 0;
                        height: 2px;
                        left: 50%;
                        bottom: 0;
                        background-color: var(--ForthColor);
                        border-radius: 50%;
                        transition: 0.6s;
                    }
                }

                &:nth-of-type(2) {
                    display: flex;
                    font-weight: normal;
                    color: var(--SecondColor);
                    gap: 18px;

                    >strong {
                        position: relative;
                        color: var(--FifthColor);
                        font-weight: normal;
                        font-family: 'dancing script';
                        text-transform: uppercase;
                        z-index: 1;

                        &:hover {
                            &::after {
                                width: 100%;
                                left: 0;
                            }
                        }

                        &::after {
                            content: '';
                            position: absolute;
                            left: 50%;
                            bottom: 0;
                            width: 0;
                            height: 2px;
                            background-color: var(--FifthColor);
                            border-radius: 50%;
                            transition: 0.6s;
                        }

                    }
                }

            }
        }

        >span {
            position: relative;
            z-index: -1;
            font-size: 300px;
            color: var(--SeventhColor);
            /* border: 1px solid rgb(35, 33, 33); */
            left: -87%;
            top: -30%;
            height: 100%;
            /* width: 100%; */

        }

        >h3 {
            position: absolute;
            left: 15%;
            top: 48%;
            /* border: 1px solid red; */
            color: var(--SecondColor);
            font-family: 'cinzel';
            font-size: 16px;
            display: flex;
            flex-wrap: wrap;

            >span {}
        }

        >.ExploreButton {
            position: absolute;
            width: 100%;
            height: 100%;
            /* border: 1px solid red; */
            /* z-index: -1; */

            >div {
                position: absolute;
                width: 100%;
                height: 100%;
                /* border: 1px solid black; */
                font-family: 'cinzel';
                transition: 0.4s;

                >img {
                    /* width: 100%; */
                    height: 100%;
                    position: absolute;
                    left: -30px;
                    top: 90px;
                    /* border: 1px solid yellow; */
                }

                >a {
                    /* border: 1px solid red; */
                    width: 30%;
                    height: 20%;
                    position: absolute;
                    left: 0;
                    bottom: 5%;

                    &:hover {
                        >span {
                            left: 0;
                        }

                        >i {
                            opacity: 1;
                            left: 89%;
                        }
                    }

                    >span {
                        /* border: 1px solid red; */
                        color: var(--FirstColor);
                        position: absolute;
                        left: 2%;
                        top: 25%;
                        transition: 0.4s;
                        font-weight: bold;

                    }

                    >i {
                        position: absolute;
                        /* width: 100%;
                    height: 100%; */
                        /* border: 1px solid green; */
                        color: var(--FirstColor);
                        top: 31%;
                        left: 87%;
                        opacity: 0.7;
                        transition: 0.4s;
                    }
                }
            }
        }
    }

    &::after {
        content: '';
        position: absolute;
        background: linear-gradient(to bottom, transparent, rgb(0, 0, 0));
        left: 0;
        bottom: 0;
        width: 100%;
        height: 75px;
        /* border: 1px solid red; */
    }
}

.Second {
    width: 100%;
    min-height: 100vh;
    /* height: auto; */
    background-color: var(--SecondColor);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    /* border: 1px solid red; */
    justify-content: center;

    >h2 {
        position: relative;
        left: 0;
        top: -5%;
        width: 100%;
        min-height: 15vh;
        /* border: 1px solid rgb(28, 55, 234); */
        color: var(--FirstColor);
        text-align: center;
        padding-top: 40px;
        font-size: 60px;
        font-family: 'cinzel';
        font-weight: lighter;
    }

    >.Line {
        position: relative;
        left: 0;
        top: 0;
        border: 1px solid var(--ThirdColor);
        width: 100px;
        height: 1px;
        border-radius: 50px;
        /* margin-top: 10vh; */

        &:nth-of-type(1) {
            left: 33.5%;
            top: 17.3%;
            margin-top: 2vh;
        }

        &:nth-of-type(2) {
            left: 59%;
            top: 17.3%;
        }
    }

    >h5 {
        position: relative;
        width: 100%;
        min-height: 0;
        /* border: 1px solid yellow; */
        top: -1.8vh;
        left: 0;
        color: var(--ThirdColor);
        padding-left: 40.8%;
        font-family: 'cinzel';
        font-size: 17px;
    }

    >.Heroes {
        position: relative;
        left: 0;
        top: 0;
        /* border: 1px solid rgb(73, 20, 233); */
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        top: 7vh;
        background-color: var(--SecondColor);
        gap: 20px;
        text-align: justify;

        >.JinSakai {
            position: relative;
            left: 0.5%;
            width: 99%;
            min-height: 18.75vh;
            transition: 1s;
            /* border: 1px solid red; */
            overflow: hidden;
            flex-grow: 1;
            background-image: url(../images/01_JinSakai_background.jpg);
            background-size: cover;
            background-position: 0 20%;
            border-radius: 10px;


            >.dark {
                position: absolute;
                left: 0;
                top: 0;
                /* border: 1px solid yellow; */
                background: linear-gradient(to right, black, transparent);
                width: 70%;
                height: 100%;
                z-index: 0;
                opacity: 0;
                transition: 1s;
            }

            &:hover {
                flex-grow: 2;

                >.dark {
                    background: linear-gradient(to right, black, transparent);
                    opacity: 1;
                }

                /* >.JinSakaiImage {
                    >img {
                        &:nth-of-type(1) {
                            top: -15%;
                        }
                    }
                } */

                >.JinSakaiLeftText {
                    >h3 {
                        /* border: 1px solid red; */
                        transform: translateY(-35%);
                        font-size: 40px;
                        height: 70%;
                    }

                    >h2 {
                        /* border: 1px solid white; */
                        left: 25%;
                        /* transform: translateX(30%); */
                        opacity: 1;
                    }

                    >p {
                        left: 25%;
                        opacity: 1;
                    }

                    >div {
                        >a {
                            >img {
                                margin-top: 29%;
                            }
                        }

                        >h4 {
                            top: 84%;
                        }

                        >i {
                            bottom: 10%;
                        }
                    }
                }
            }

            box-shadow: 0 0 15px var(--FifthColor);

            >.JinSakaiLeftText {
                position: absolute;
                width: 50%;
                height: 100%;

                /* border: 1px solid rgb(213, 27, 27); */
                >h3 {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    /* border: 1px solid white; */
                    font-size: 60px;
                    color: var(--ForthColor);
                    font-family: 'dancing script';
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: 1s;
                }

                >h2 {
                    position: relative;
                    width: 100%;
                    height: 25%;
                    /* border: 1px solid white; */
                    color: var(--FirstColor);
                    font-size: 30px;
                    font-family: 'cinzel';
                    left: -30%;
                    /* left: 0; */
                    top: -50%;
                    transition: 1.5s ease-in-out;
                    opacity: 0;
                }

                >p {
                    flex-wrap: wrap;
                    position: relative;
                    width: 60%;
                    height: 25%;
                    /* border: 1px solid white; */
                    color: var(--ThirdColor);
                    font-size: 20px;
                    font-family: 'cinzel';
                    left: -110%;
                    /* left: 0; */
                    top: -60%;
                    transition: 1.5s ease-in-out;
                    /* text-justify: auto; */
                    opacity: 0;
                }

                >div {
                    position: absolute;
                    /* border: 1px solid wheat; */
                    left: 0;
                    top: 0;

                    >a {
                        width: 100%;
                        height: 100%;
                        /* border: 1px solid rgb(33, 247, 0); */

                        >img {
                            width: 8%;
                            left: 50%;
                            top: 0;
                            margin-left: 24%;
                            /* margin-top: 28%; */
                            margin-top: 35%;
                            /* border: 1px solid blue; */
                            object-fit: cover;
                            z-index: 1;
                            transition: 2s;

                        }
                    }

                    >h4 {
                        position: absolute;
                        left: 33%;
                        top: 87%;
                        width: 15%;
                        /* border: 1px solid red; */
                        color: var(--EighthColor);
                        font-family: 'cinzel';
                        font-size: 14px;
                        transition: 2s;
                    }

                    >i {
                        color: var(--EighthColor);
                        position: absolute;
                        left: 27.7%;
                        bottom: 8.5%;
                        transition: 2s;
                    }
                }
            }

            >.JinSakaiImage {
                width: 100%;
                height: 100%;
                /* border: 1px solid yellow; */
                position: absolute;
                left: -10%;
                bottom: 0;

                >img {
                    transition: 1s;
                    position: absolute;
                    left: 50%;
                    bottom: 0;
                    /* border: 1px solid rgb(86, 4, 239); */

                    &:nth-of-type(1) {
                        /* border: 1px solid red; */
                        left: 40%;
                        top: -26%;
                        z-index: 1;
                    }

                }
            }

            >.JinSakaiRightText {}
        }

        >.Yuna {
            position: relative;
            width: 99%;
            min-height: 18.75vh;
            left: 0.5%;
            /* border: 1px solid red; */
            overflow: hidden;
            box-shadow: 0 0 15px var(--FifthColor);
            transition: 1s;
            flex-grow: 1;
            background-image: url(../images/02_Yuna_background.jpg);
            background-size: cover;
            border-radius: 10px;


            >.dark {
                position: absolute;
                right: 0;
                top: 0;
                /* border: 1px solid yellow; */
                background: linear-gradient(to left, black, transparent);
                width: 70%;
                height: 100%;
                z-index: 0;
                opacity: 0;
                transition: 1s;
            }

            &:hover {
                flex-grow: 2;

                >.dark {
                    opacity: 1;
                }

                >.YunaRightText {
                    >h3 {
                        /* border: 1px solid red; */
                        transform: translateY(-35%);
                        font-size: 40px;
                        height: 70%;
                    }

                    >h2 {
                        opacity: 1;
                        left: 23%;
                    }

                    >p {
                        opacity: 1;
                        left: 23.5%;
                    }

                    >div {
                        >a {
                            >img {
                                margin-top: 28%;
                            }
                        }

                        >h4 {
                            top: 84%;

                        }

                        >i {
                            bottom: 10%;

                        }
                    }
                }

                >.YunaImage {}
            }

            >.YunaRightText {
                width: 50%;
                height: 100%;
                position: absolute;
                top: 0;
                right: 0;
                /* border: 1px solid yellow; */

                >h3 {
                    width: 100%;
                    height: 100%;
                    /* border: 1px solid white; */
                    font-size: 60px;
                    color: var(--ForthColor);
                    font-family: 'dancing script';
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: 1s;
                }

                >h2 {
                    position: relative;
                    width: 100%;
                    height: 25%;
                    /* border: 1px solid white; */
                    color: var(--FirstColor);
                    font-size: 30px;
                    font-family: 'cinzel';
                    left: 0;
                    /* left: 0; */
                    top: -51%;
                    transition: 1.5s ease-in-out;
                    opacity: 0;
                }

                >p {
                    flex-wrap: wrap;
                    position: relative;
                    width: 60%;
                    height: 25%;
                    /* border: 1px solid white; */
                    color: var(--ThirdColor);
                    font-size: 20px;
                    font-family: 'cinzel';
                    /* left: 33.5%; */
                    left: -70%;
                    top: -61%;
                    transition: 1.5s ease-in-out;
                    text-justify: auto;
                    opacity: 0;
                }

                >div {
                    position: absolute;
                    /* border: 1px solid wheat; */
                    left: 0;
                    top: 0;

                    >a {
                        width: 100%;
                        height: 100%;
                        /* border: 1px solid rgb(33, 247, 0); */

                        >img {
                            width: 8%;
                            left: 50%;
                            top: 0;
                            margin-left: 22.5%;
                            /* margin-top: 28%; */
                            margin-top: 35%;
                            /* border: 1px solid blue; */
                            object-fit: cover;
                            z-index: 1;
                            transition: 2s;

                        }
                    }

                    >h4 {
                        position: absolute;
                        left: 31%;
                        top: 86%;
                        width: 15%;
                        /* border: 1px solid red; */
                        color: var(--EighthColor);
                        font-family: 'cinzel';
                        font-size: 14px;
                        transition: 2s;
                    }

                    >i {
                        color: var(--EighthColor);
                        position: absolute;
                        left: 26%;
                        bottom: 8.5%;
                        transition: 2s;
                    }
                }
            }

            >.YunaImage {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 10%;
                bottom: -30%;

                >img {
                    position: absolute;
                    left: 0;
                    top: -45%;

                    &:nth-of-type(1) {
                        z-index: 1;
                    }

                    &:nth-of-type(2) {
                        width: 55%;
                        left: -11%;
                        top: -200%;
                        /* border: 1px solid white; */
                        opacity: 0.5;
                    }
                }
            }

            >.YunaLeftText {}
        }

        >.LordShimura {
            position: relative;
            left: 0.5%;
            width: 99%;
            min-height: 18.75vh;
            transition: 1s;
            /* border: 1px solid red; */
            border-radius: 10px;
            overflow: hidden;
            flex-grow: 1;
            background-image: url(../images/03_LordShimura_background.jpg);
            background-size: cover;

            >.dark {
                position: absolute;
                left: 0;
                top: 0;
                /* border: 1px solid yellow; */
                background: linear-gradient(to right, black, transparent);
                width: 70%;
                height: 100%;
                z-index: 0;
                opacity: 0;
                transition: 1s;
            }

            &:hover {
                flex-grow: 2;

                >.dark {
                    opacity: 1;
                }

                >.LordLeftText {
                    >h3 {
                        /* border: 1px solid red; */
                        transform: translateY(-35%);
                        font-size: 40px;
                        height: 70%;
                    }

                    >h2 {
                        left: 22%;
                        opacity: 1;
                    }

                    >p {
                        left: 22%;
                        opacity: 1;
                    }

                    >div {
                        >a {
                            >img {
                                margin-top: 29%;
                            }
                        }

                        >h4 {
                            top: 84%;
                        }

                        >i {
                            bottom: 10%;
                        }
                    }
                }

            }

            box-shadow: 0 0 15px var(--FifthColor);

            >.LordLeftText {
                position: absolute;
                width: 50%;
                height: 100%;

                /* border: 1px solid rgb(213, 27, 27); */
                >h3 {
                    width: 100%;
                    height: 100%;
                    /* border: 1px solid white; */
                    font-size: 60px;
                    color: var(--ForthColor);
                    font-family: 'dancing script';
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: 1s;
                }

                >h2 {
                    position: relative;
                    color: var(--FirstColor);
                    font-size: 30px;
                    font-family: 'cinzel';
                    left: -35%;
                    /* left: 20%; */
                    top: -50%;
                    transition: 1.5s ease-in-out;
                    opacity: 0;
                    /* border: 1px solid red; */
                    width: 100%;
                    height: 25%;
                }

                >p {
                    position: relative;
                    /* left: 22%; */
                    left: -110%;
                    top: -60%;
                    color: var(--ThirdColor);
                    font-family: 'cinzel';
                    font-size: 20px;
                    /* border: 1px solid red; */
                    width: 60%;
                    height: 35%;
                    flex-wrap: wrap;
                    transition: 1.5s ease-in-out;
                    opacity: 0;
                }

                >div {
                    position: absolute;
                    /* border: 1px solid wheat; */
                    left: 0;
                    top: 0;

                    >a {
                        width: 100%;
                        height: 100%;
                        /* border: 1px solid rgb(33, 247, 0); */

                        >img {
                            width: 8%;
                            left: 50%;
                            top: 0;
                            margin-left: 21%;
                            /* margin-top: 28%; */
                            margin-top: 35%;
                            /* border: 1px solid blue; */
                            object-fit: cover;
                            z-index: 1;
                            transition: 2s;

                        }
                    }

                    >h4 {
                        position: absolute;
                        left: 30%;
                        top: 86%;
                        width: 15%;
                        /* border: 1px solid red; */
                        color: var(--EighthColor);
                        font-family: 'cinzel';
                        font-size: 14px;
                        transition: 2s;
                    }

                    >i {
                        color: var(--EighthColor);
                        position: absolute;
                        left: 24.7%;
                        bottom: 8.5%;
                        transition: 2s;
                    }
                }
            }

            >.LordImage {
                width: 100%;
                height: 100%;
                /* border: 1px solid yellow; */
                position: absolute;
                left: -25%;
                bottom: 0;

                >img {
                    position: absolute;
                    left: 50%;
                    bottom: 0;
                    /* border: 1px solid rgb(86, 4, 239); */

                    &:nth-of-type(1) {
                        /* border: 1px solid red; */
                        left: 40%;
                        top: -20%;
                        z-index: 1;
                    }
                }
            }

            >.LordRightText {}
        }

        >.KhotunKhan {
            position: relative;
            width: 99%;
            min-height: 18.75vh;
            left: 0.5%;
            /* border: 1px solid red; */
            overflow: hidden;
            box-shadow: 0 0 15px var(--FifthColor);
            transition: 1s;
            flex-grow: 1;
            border-radius: 10px;
            background-image: url(../images/KhanBack.jpg);
            background-size: cover;

            >.dark {
                position: absolute;
                right: 0;
                top: 0;
                /* border: 1px solid yellow; */
                background: linear-gradient(to left, black, transparent);
                width: 70%;
                height: 100%;
                z-index: 0;
                opacity: 0;
                transition: 1s;
            }

            &:hover {
                flex-grow: 2;

                >.dark {
                    opacity: 1;
                }

                >.KhanRightText {
                    >h3 {
                        /* border: 1px solid red; */
                        transform: translateY(-35%);
                        font-size: 40px;
                        height: 70%;
                    }

                    >h2 {
                        opacity: 1;
                        left: 22%;
                    }

                    >p {
                        opacity: 1;
                        left: 22%;
                    }

                    >div {
                        >a {
                            >img {
                                margin-top: 28%;
                            }
                        }

                        >h4 {
                            top: 84%;

                        }

                        >i {
                            bottom: 10%;

                        }
                    }
                }
            }

            >.KhanRightText {
                width: 50%;
                height: 100%;
                position: absolute;
                top: 0;
                right: 0;
                /* border: 1px solid yellow; */

                >h3 {
                    width: 100%;
                    height: 100%;
                    /* border: 1px solid white; */
                    font-size: 60px;
                    color: var(--ForthColor);
                    font-family: 'dancing script';
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: 1s;
                }

                >h2 {
                    position: relative;
                    width: 100%;
                    height: 25%;
                    /* border: 1px solid white; */
                    color: var(--FirstColor);
                    font-size: 30px;
                    font-family: 'cinzel';
                    left: 0;
                    /* left: 0; */
                    top: -51%;
                    transition: 1.5s ease-in-out;
                    opacity: 0;
                }

                >p {
                    flex-wrap: wrap;
                    position: relative;
                    width: 60%;
                    height: 25%;
                    /* border: 1px solid white; */
                    color: var(--ThirdColor);
                    font-size: 20px;
                    font-family: 'cinzel';
                    /* left: 33.5%; */
                    left: -70%;
                    top: -61%;
                    transition: 1.5s ease-in-out;
                    text-justify: auto;
                    opacity: 0;
                }

                >div {
                    position: absolute;
                    /* border: 1px solid wheat; */
                    left: 0;
                    top: 0;

                    >a {
                        width: 100%;
                        height: 100%;
                        /* border: 1px solid rgb(33, 247, 0); */

                        >img {
                            width: 8%;
                            left: 50%;
                            top: 0;
                            margin-left: 21%;
                            /* margin-top: 28%; */
                            margin-top: 35%;
                            /* border: 1px solid blue; */
                            object-fit: cover;
                            z-index: 1;
                            transition: 2s;

                        }
                    }

                    >h4 {
                        position: absolute;
                        left: 30%;
                        top: 86%;
                        width: 15%;
                        /* border: 1px solid red; */
                        color: var(--EighthColor);
                        font-family: 'cinzel';
                        font-size: 14px;
                        transition: 2s;
                    }

                    >i {
                        color: var(--EighthColor);
                        position: absolute;
                        left: 24.7%;
                        bottom: 8.5%;
                        transition: 2s;
                    }
                }
            }

            >.KhanImage {
                position: absolute;
                width: 100%;
                height: 100%;
                left: -10%;
                bottom: -40%;

                >img {
                    position: absolute;
                    left: 0;
                    top: -45%;

                    &:nth-of-type(1) {
                        top: -55%;
                        left: 3%;
                        z-index: 1;
                    }
                }
            }

            >.KhanLeftText {}
        }
    }
}

.Third {
    /* &::before {
        content: '';
        position: absolute;
        left: 0.5%;
        top: 41.4%;
        width: 99%;
        height: 100px;
        border: 1px solid rgb(206, 196, 10);
        background: linear-gradient(to bottom, black, transparent);
        z-index: 1;
    } */

    background-image: url(../images/ghost\ of\ tsushima.png);
    background-size: cover;
    width: 99%;
    min-height: 75vh;
    /* border: 1px solid yellow; */
    background-attachment: fixed;
    border-radius: 10px;
    margin-left: 0.5%;
    margin-top: 5%;

    /* &::after {
        content: '';
        position: absolute;
        left: 0.5%;
        top: 61.2%;
        width: 99%;
        height: 100px;
        border: 1px solid rgb(9, 237, 24);
        background: linear-gradient(to top, black, transparent);
        z-index: 5;
    } */
}

.Forth {
    &::before {
        /* margin-top: 100px; */
        content: '';
        position: absolute;
        width: 100%;
        height: 20px;
        /* border: 1px solid red; */
        background: linear-gradient(to bottom, rgb(0, 0, 0), transparent);
    }

    margin-top: 1%;
    width: 100%;
    /* border: 1px solid red; */
    min-height: 50vh;
    background-image: url(../images/Story1.png);
    background-size: cover;
    background-position: 0 85%;
    position: relative;

    >.dark {
        position: absolute;
        left: 0;
        top: 0;
        /* border: 1px solid yellow; */
        background: linear-gradient(to right, black, transparent);
        width: 30%;
        height: 100%;
        z-index: 0;
        /* opacity: 0; */
        transition: 1s;
    }

    >.StoryText {
        position: absolute;
        width: 50%;
        height: 100%;
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;

        >h2 {
            width: 100%;
            height: 25%;
            /* border: 1px solid white; */
            color: var(--FirstColor);
            font-size: 50px;
            font-family: 'cinzel';
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 2%;
        }

        >.LineStory {
            margin-top: -4%;
            position: relative;
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 10%;

            /* border: 1px solid red; */
            >h4 {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                /* border: 1px solid wheat; */
                color: var(--ThirdColor);
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: 'cinzel';
                font-size: 14px;

            }

            >.line {
                position: absolute;
                width: 6%;
                /* height: 2px; */
                border: 1px solid var(--ThirdColor);
                border-radius: 50px;

                &:nth-of-type(1) {
                    left: 30%;
                    top: 50%;
                }

                &:nth-of-type(2) {
                    right: 30%;
                    top: 50%;
                }
            }
        }

        >p {
            flex-wrap: wrap;
            flex-direction: column;
            position: absolute;
            left: 30%;
            bottom: 27%;
            width: 50%;
            height: 40%;
            /* border: 1px solid red; */
            color: var(--ThirdColor);
            font-family: 'cinzel';
            font-size: 18px;
            text-align: justify;
        }

        >img {
            position: absolute;
            left: 23%;
            bottom: -21.5%;
            width: 300px;
            /* border: 1px solid white; */
        }

        >a {
            position: absolute;
            left: 30.5%;
            bottom: 16%;
            color: var(--EighthColor);
            z-index: 1;
            font-weight: bold;
            /* border: 1px solid red; */
            font-size: 16px;
            transition: 1s;

            >i {
                position: absolute;
                left: 102%;
                top: 18%;
                /* border: 1px solid yellow; */
                transition: 1s;
            }

            &:hover {
                left: 29.5%;

                >i {
                    left: 110%;
                }
            }
        }
    }

    &::after {
        /* margin-top: 100px; */
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100px;
        /* border: 1px solid red; */
        background: linear-gradient(to top, rgb(0, 0, 0), transparent);
    }
}

.Fifth {
    position: relative;

    &::before {
        /* margin-top: 100px; */
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 100px;
        /* border: 1px solid wheat; */
        background: linear-gradient(to bottom, rgb(0, 0, 0), transparent);
    }

    &:hover {
        >.dark {
            opacity: 1;

        }
    }

    >.dark {
        position: absolute;
        left: 0;
        top: 0;
        /* border: 1px solid yellow; */
        background: linear-gradient(to right, black, transparent);
        width: 30%;
        height: 100%;
        z-index: 0;
        opacity: 0;
        transition: 1s;
    }

    width: 100%;
    min-height: 50vh;
    /* border: 1px solid red; */
    background-image: url(../images/download\ \(1\).png);
    background-size: cover;
    background-position-y: 80%;
    background-repeat: no-repeat;

    >.row1 {
        position: absolute;
        left: 0;
        top: 0;
        min-height: 50vh;
        /* color: var(--ThirdColor); */
        /* border: 1px solid red; */
        width: 100%;

        >.line {
            position: absolute;
            width: 3%;
            /* height: 2px; */
            border: 1px solid var(--ThirdColor);
            border-radius: 50px;

            &:nth-of-type(1) {
                left: 14%;
                top: 27.8%;
            }

            &:nth-of-type(2) {
                right: 67.8%;
                top: 27.8%;
            }
        }

        >h2 {
            position: absolute;
            left: 16%;
            top: 5vh;
            color: var(--FirstColor);
            /* border: 1px solid white; */
            width: 20%;
            font-size: 50px;
            font-family: 'cinzel';

        }

        >h4 {
            position: absolute;
            left: -27%;
            top: -22%;
            width: 100%;
            height: 100%;
            /* border: 1px solid wheat; */
            color: var(--ThirdColor);
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'cinzel';
            font-size: 14px;
        }
    }

    >.row2 {
        position: relative;
        left: 0;
        top: 25vh;
        display: flex;
        justify-content: center;
        gap: 20px;
        bottom: 0;

        >figure {
            position: relative;
            border-radius: 5px;
            width: 18%;
            height: 20vh;

            /* border: 1px solid red; */
            &:nth-of-type(2) {
                >img {
                    object-position: 0 15%;
                }
            }

            &:nth-of-type(5) {
                >img {
                    object-position: 0 15%;
                }
            }

            &:hover {
                >.darkimage {
                    opacity: 0;
                    top: -10%;
                }

                >img {
                    top: -10%;
                }
            }

            >.darkimage {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: black;
                opacity: 0.5;
                /* border: 4px solid white; */
                z-index: 2;
                border-radius: 5px;
                transition: 0.5s;
            }

            >img {
                border-radius: 5px;
                position: absolute;
                left: 0;
                top: 0;
                object-fit: cover;
                object-position: 0 90%;
                width: 100%;
                height: 100%;
                transition: 0.5s;
            }
        }
    }

    &::after {
        /* margin-top: 100px; */
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 150px;
        /* border: 1px solid wheat; */
        background: linear-gradient(to top, rgb(0, 0, 0), transparent);
        z-index: 1;
    }
}

/* .Sixth {
    &::before {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 50px;
        background: linear-gradient(to bottom, rgb(0, 0, 0), transparent);
    }

    position: relative;
    background-image: url(../images/vs.png);
    background-size: 100% 90vh;
    background-position: 45% 210%;
    background-repeat: no-repeat;
    left: 0.5%;
    width: 99%;
    min-height: 75vh;
    border-radius: 5px;
    border: 1px solid red;
    background-attachment: fixed;

    >h3 {
        position: absolute;
        width: 50%;
        height: 20%;
        font-size: 50px;
        font-family: 'dancing script';
        text-transform: uppercase;

        &:nth-of-type(1) {
            left: 21%;
            top: 35%;
            background: linear-gradient(to left, var(--SecondColor), var(--EighthColor));
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
        }

        &:nth-of-type(2) {
            left: 39%;
            top: 50%;
            background: linear-gradient(to right, var(--SecondColor), var(--EighthColor));
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
        }
    }
} */

.Khodam {

    width: 100%;
    min-height: 100vh;
    /* border: 1px solid red; */
    background-color: var(--SecondColor);
    position: relative;
    display: flex;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: -70px;
        width: 100%;
        height: 150px;
        /* border: 1px solid red; */
        background: linear-gradient(to bottom, transparent, var(--SecondColor));
        z-index: 1;
    }

    >.DownLeft {
        /* border: 1px solid green; */
        width: 50%;

        /* height: 100%; */
        >figure {
            width: 450px;
            height: 600px;
            position: relative;
            /* border: 1px solid red; */
            margin: 100px auto;
            overflow: hidden;

            &:hover {
                >figcaption {
                    bottom: 120px;

                }

                &::after {
                    opacity: 0.7;
                }
            }

            >img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 20px;
            }

            >figcaption {
                gap: 100px;
                display: flex;
                font-size: 50px;
                justify-content: center;
                margin-left: 55px;
                /* border: 1px solid red; */
                position: absolute;
                left: 0;
                bottom: -70px;
                transition: 1s;
                z-index: 1;

                >a {
                    &:nth-of-type(1) {
                        color: #0FBF3E;
                    }

                    &:nth-of-type(2) {
                        color: #0A66C2;
                    }

                    &:nth-of-type(3) {
                        color: #E4405F;
                    }
                }
            }

            &::after {
                content: '';
                position: absolute;
                background: linear-gradient(to bottom, transparent, black);
                inset: 0;
                opacity: 0;
                transition: 1s;
            }

        }
    }

    >.DownRight {
        width: 50%;
        display: flex;
        flex-direction: column;
        position: relative;

        /* border: 1px solid red; */
        >h2 {
            width: 100%;
            position: absolute;
            color: var(--ThirdColor);
            font-size: 60px;
            font-family: 'cinzel';
            left: 0;
            top: 45%;
            /* border: 1px solid red; */
            text-align: center;

        }

        >strong {
            position: absolute;
            left: 0;
            top: 55%;
            width: 100%;
            color: var(--ThirdColor);
            font-family: 'dancing script';
            /* border: 1px solid red; */
            font-size: 50px;
            text-align: center;

        }
    }
}
